<h2> Boolean </h2>

In [ ]:
a=True
print(a)

In [ ]:
b=False
print(b)

In [ ]:
print(type(a))

In [ ]:
print(a+b)#1+0

In [ ]:
print(a-b)#1-0

In [ ]:
print(a*b)#1*0

In [ ]:
print(a/b)#1/0

In [ ]:
# checking equality

a=False
b=True

print(a==b)

In [ ]:
print(a!=b)

<h2>Numbers</h2>

In [ ]:
#integers
x=2
print(x)

In [ ]:
#variable type
print(type(x))

In [ ]:
#floats
x=2.5
print(x)

In [ ]:
print(type(x))

In [ ]:
#addition
y=1
z=x+y
print(z)

In [ ]:
# checking equality

a=10
b=10
c=3

print(a==b)
print(b==c)
print(a==c)
print(a!=b)
print(b!=c)
print(a!=c)

In [ ]:
#add,sub,div,mult
x=10
y=5
print(x+y)
print(x-y)
print(x/y)
print(x*y)

In [ ]:
print(10+5+7)

<h2>Text (Strings)</h2>

In [ ]:
#single quotes
a='hello'
print(a)

In [ ]:
#double quotes
a="hello"
print(a)

In [ ]:
#variable type
print(type(a))

In [ ]:
#checking equality
a='hello'
b='chair'
print(a==b)
print(a!=b)

In [ ]:
#concatenation
b='my'
print(a+b)

In [ ]:
print(a+' '+b)

In [ ]:
print(a+' '+b+' name is James')

In [ ]:
#doesn't work
print(a-b)

In [ ]:
#doesn't work
print(a*b)

In [ ]:
#doesn't work
print(a/b)

In [ ]:
#doesn't work
print('table'/2)

In [ ]:
# This works!
print('table'*2)

In [2]:
#Concatenating strings and numbers
a='chair'
b=10

print(a+b)

TypeError: can only concatenate str (not "int") to str

In [3]:
#converting a number to a string
print(a+str(b))

chair10

In [4]:
a=5
b='5'
c=str(5)

print(type(a))

print(type(b))

print(type(c))

<class 'int'>
<class 'str'>
<class 'str'>

In [5]:
#accessing characters in specific positions
a='house'
print(a[0])

h

In [6]:
a='house'
print(a[3])

s

In [7]:
a='house'
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

h
o
u
s
e

In [8]:
# going out of range
print(a[6])

IndexError: string index out of range

In [9]:
# reverse index, starting from the end
print(a[-1])

e

In [10]:
print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])
print(a[-5])

e
s
u
o
h

In [11]:
# Counting the number of characters in a string
a='game'
b='day'
c='excellent'

print(len(a))
print(len(b))
print(len(c))

4
3
9

In [12]:
l1=len(a)
l2=len(b)
l3=len(c)

print(l1,l2,l3)

4 3 9

<h2> Lists </h2>

In [ ]:
# list of numbers
L=[1,2,3,4,5,6,7]

print(L)

In [ ]:
print(type(L))

In [ ]:
L=[6,22,5,78,12,0]

print(L)

In [ ]:
# list of strings
L=['chair', 'table', 'house', 'person', 'day']

print(L)

In [ ]:
# mixed list of strings and numbers

L=['chair', 1 , 'house', 11.1, 12.5 , 44, 'day']

print(L)

In [ ]:
#checking equality
L1=[1,2,3]
L2=[1,2,3]
L3=[1,3,2]

print(L1==L2)
print(L1==L3)

In [ ]:
# Accessing elements at specific positions in the list

L=['chair', 'table', 'house', 'person', 'day']

print(L[0])

In [ ]:
print(L[0])
print(L[1])
print(L[2])
print(L[3])
print(L[4])

In [ ]:
# going out of range
print(L[5])

In [ ]:
# reverse index, starting from the end

print(L[-1])

In [13]:
L=['james','is','name','my']

print(L[-1])
print(L[-2])
print(L[-3])
print(L[-4])

my
name
is
james

In [14]:
# concatenating lists

L1=[1,2,3,4]

L2=[5,6,7,8]

print(L1+L2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [15]:
L1=[1,2,3,4]

L2=[5,6,7,8]

L3=L1+L2

print(L3)

[1, 2, 3, 4, 5, 6, 7, 8]

In [16]:
# doesn't work
print(L1-L2)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [17]:
# doesn't work
print(L1/L2)

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [18]:
# doesn't work
print(L1*L2)

TypeError: can't multiply sequence by non-int of type 'list'

In [19]:
# doesn't work
print(L1+5)

TypeError: can only concatenate list (not "int") to list

In [20]:
# doesn't work
print(L1-5)

TypeError: unsupported operand type(s) for -: 'list' and 'int'

In [21]:
# doesn't work
print(L1/5)

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [22]:
# this works!
print(L1*5)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [23]:
# get number of elements in a list

L1=['red','purple','blue','blue','yellow']

L2=[5,6,8]

print(len(L1))

print(len(L2))

5
3

In [24]:
# checking to see if an element exists in a list

L=['red','purple','blue','blue','yellow']

print('red' in L)

print('brown' in L)

True
False

In [25]:
#appending elements to a list

L=[1,2,3]

print(L)

L.append(4)

print(L)

[1, 2, 3]
[1, 2, 3, 4]

In [30]:
# removing elements from a list

L= [10,5,1,2,4,10,10,4]

print(L)

L.remove(10)

print(L)

[10, 5, 1, 2, 4, 10, 10, 4]
[5, 1, 2, 4, 10, 10, 4]

In [35]:
# this won't work
L= [1,2,3]

L.remove(5)

ValueError: list.remove(x): x not in list

<h2> Sets </h2>

In [36]:
S={'red','purple','blue','blue','yellow','blue','yellow'}

print(S)

{'blue', 'yellow', 'purple', 'red'}

In [37]:
print(type(S))

<class 'set'>

In [38]:
#checking equality
S1={1,2,3}
S2={1,3,2}
S3={1,2,6}

print(S1==S2)
print(S1==S3)

True
False

In [41]:
# Getting the number of elements in a set

print(len(S))

4

In [42]:
# Adding elements to a set

S={1,2,30,4}

print(S)

S.add(10)

print(S)

{1, 2, 4, 30}
{1, 2, 4, 10, 30}

In [43]:
#  Removing elements from a set
S={1,2,30,4}

print(S)

S.remove(30)

print(S)

{1, 2, 4, 30}
{1, 2, 4}

In [46]:
# this won't work!
S={1,2,3}

print(S)

S.remove(30)

print(S)

{1, 2, 3}

KeyError: 30

In [47]:
#concatenating sets (won't work)

s1={1,2,3}

s2={10,11,20}

print(s1+s2)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [48]:
# mixed sets

s1={1,'chair',5, 'chair',10 , 12.3, 'blue'}

print(s1)

{'chair', 1, 'blue', 5, 10, 12.3}

In [49]:
# Accessing an element at a specific position in the set (won't work)

s={5,2,10,6}

print(s[0])

TypeError: 'set' object is not subscriptable

In [50]:
# Converting a list into a set

L=['blue','red','black','blue']

print(L)

S=set(L)

print(S)

['blue', 'red', 'black', 'blue']
{'blue', 'black', 'red'}

In [53]:
# Converting a set into a list

S={'blue','red','black'}

print(S)

L=list(S)

print(L)

{'blue', 'black', 'red'}
['blue', 'black', 'red']

<h2> Dictionaries </h2>

In [54]:
d={'james':8, 'nick':6, 'anya':7, 'jane':9.5}# key-value pairs

print(d)

{'james': 8, 'nick': 6, 'anya': 7, 'jane': 9.5}

In [55]:
print(type(d))

<class 'dict'>

In [56]:
# getting the value for a specific key

print(d['james'])

8

In [57]:
 # won't work
print(d['andrew'])

KeyError: 'andrew'

In [58]:
# check if a key is in the dictionary
d={'james':8, 'nick':6, 'anya':7, 'jane':9.5}

print('james' in d)
print('tom' in d)

True
False

In [59]:
# get the number of pairs in a dictionary

d={'james':8, 'nick':6, 'anya':7, 'jane':9.5}# key-value pairs

print(len(d))

4

In [60]:
# dict operations
d1={'james':8, 'nick':6}
d2={'anya':7, 'jane':9.5}

In [61]:
#won't work
print(d1+d2)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [ ]:
#won't work
print(d1-d2)

In [ ]:
#won't work
print(d1*d2)

In [ ]:
#won't work
print(d1/d2)

In [62]:
# add a new key-value pair

d={'james':8, 'nick':6}

print(d)

d['tom']=10

print(d)

{'james': 8, 'nick': 6}
{'james': 8, 'nick': 6, 'tom': 10}

In [64]:
#removing pairs

d={'james':8, 'nick':6}

print(d)

del d['nick']

print(d)

{'james': 8, 'nick': 6}
{'james': 8}

In [ ]:
# duplicate values

In [63]:
d={'james':8, 'nick':6, 'nick':10}
print(d)

{'james': 8, 'nick': 10}

In [66]:
d={'james':8, 'nick':6, 'nick':10,'nick':20}
print(d)

{'james': 8, 'nick': 20}

In [67]:
d['nick']=100
print(d)

{'james': 8, 'nick': 100}

In [71]:
# using numbers as keys

d={70:'ted',2:'tom',3:'jane'}

print(d)

print(d[70])

{70: 'ted', 2: 'tom', 3: 'jane'}
ted

In [72]:
# complex values 

d={'james':[8,6,7], 'nick':[6,5,5,7], 'tom':[3,2,2,7,10,10]}
print(d)

{'james': [8, 6, 7], 'nick': [6, 5, 5, 7], 'tom': [3, 2, 2, 7, 10, 10]}

In [73]:
print(d['james'])

[8, 6, 7]

In [74]:
# access a specific position in the value for a specific key

print(d['james'][0])

8

In [75]:
print(d['james'][0])
print(d['james'][1])
print(d['james'][2])

8
6
7

In [76]:
# even more complex values 
d={'james':{'marketing':8, 'math':10,'social media':8}, 
   'nick':{'marketing':6, 'math':5, 'analytics':5, 'programming':7} 
  }

In [77]:
print(d)

{'james': {'marketing': 8, 'math': 10, 'social media': 8}, 'nick': {'marketing': 6, 'math': 5, 'analytics': 5, 'programming': 7}}

In [78]:
print(d['james'])

{'marketing': 8, 'math': 10, 'social media': 8}

In [79]:
print(d['james']['marketing'])

8

In [83]:
d['james']['marketing']=9.5

print(d['james'])

{'marketing': 9.5, 'math': 10, 'social media': 8, 'information systems': 7.5}

In [81]:
d['james']['information systems']=7.5

print(d['james'])

{'marketing': 9.5, 'math': 10, 'social media': 8, 'information systems': 7.5}

In [86]:
#checking equality
d1={'james':8, 'nick':6, 'jake':10}
d2={'james':8, 'jake':10, 'nick':6, }
d3={'james':8, 'jake':10}

print(d1==d2)
print(d1==d3)

True
False

<h2> IF statements </h2>

In [87]:
a=10
b=10

if a==b:
    print('they are equal')

they are equal

In [88]:
a=10
b=7

if a==b:
    print('they are equal')
else:
    print('they are not equal')

they are not equal

In [91]:
a=10
b=11

if a>b:
    print('a is bigger')
elif a<b:
    print('b is bigger')
else:
    print('a and b are equal')

b is bigger

In [92]:
# with lists
L=[1,2,10,10,15]

if 1 in L:
    print('1 is in the list')
else:
    print('1 is not in the list')

1 is in the list

In [95]:
# with dictionaries
d={'james':8, 'nick':6, 'tom':10}

if 'james' in d:
    print('user found!')
else:
    print('user not found')

user found!

In [ ]:
d={'james':8, 'nick':6, 'tom':10}

if ('jake' in d) or ('tom' in d):
    print('at least one user found!')
else:
    print('users not found')

In [ ]:
d={'james':8, 'nick':6, 'tom':10}

if ('james' in d) and ('nick' in d):
    print('both users found!')
else:
    print('both users not found')

<h2>For Loops<h2>

In [98]:
L=['blue','red','green','white','((__))']

for x in L:
    
    print(x)

blue
red
green
white
((__))

In [99]:
# with dictionaries
d={'james':8, 'nick':6, 'tom':10}

for key in d:
    
    print(key)

james
nick
tom

In [100]:
d={'james':8, 'nick':6, 'tom':10}

for key in d:
    
    print(key,d[key])

james 8
nick 6
tom 10

In [ ]:
# using the range function

In [101]:
for index in range(0,10):
    print(index)

0
1
2
3
4
5
6
7
8
9

In [108]:
for index in range(5,10):
    print(index)

5
6
7
8
9

In [103]:
L=['red','blue','white','purple','black','white']

for x in L:
    print(x)

red
blue
white
purple
black
white

In [107]:
L=['red','blue','white','purple','black','white']

for position in range(0,6):
    print(L[position])

red
blue
white
purple
black
white

In [110]:
L=['red','blue','white','purple','black','white']

for position in range(0,len(L)):
    print(L[position])

red
blue
white
purple
black
white

In [112]:
L=['red','blue','white','purple','black','white']

for position in range(len(L)):
    print(position,L[position])

0 red
1 blue
2 white
3 purple
4 black
5 white